<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AirPods Pro</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/hw.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="{{url_for('static', filename='js/hw.js')}}"></script>
</head>

<body>
    <section class="section">
        <div class="container">
            <div class="wrap has-border-grey">
                <img src="https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/MWP22_AV1?wid=1000&hei=1000&fmt=jpeg&qlt=95&op_usm=0.5,0.5&.v=1572990479041"
                    alt="airpods_pro">

                <h1 class="title">AirPods Pro &nbsp;&nbsp;
                    <span class="subtitle is-5 has-text-grey">₩329,000
                        <span class="subtitle is-6">무료 각인
                        </span></span></h1>
                <p class="subtitle is-6 has-text-grey-light" style="margin-top:-10px; margin-bottom:30px;">
                    AirPods Pro는 몰입감 넘치는 사운드를 들려주는 액티브 노이즈 캔슬링 기능과 주변 소리를 들을 수 있는 주변음 허용 모드, 그리고 하루 종일 착용해도 편안한 맞춤형 핏을
                    자랑합니다. AirPods과 마찬가지로 AirPods Pro도 iPhone 또는 Apple Watch와 마법처럼 간편하게 페어링됩니다. 그래서 케이스에서 꺼내는 즉시 사용할 수
                    있죠.
                </p>

                <hr>
                <div class="size_controll">
                    <h1 class="title is-4 has-text-grey">주문하기</h1>
                    <div class="field">
                        <div class="control has-icons-left has-icons-right">
                            <input class="input" type="text" placeholder="주문자 이름" name="주문자 이름" id="check1" value="">
                            <span class="icon is-small is-left">
                                <i class="fas fa-user"></i>
                            </span>
                            <span class="icon is-small is-right">
                                <i class="fas fa-check"></i>
                            </span>
                        </div>
                        <br>

                        <div class="select">
                            <select class="select" id="check2" placeholder="주문 수량">
                                <option disabled selected>주문 수량</option>
                                <option value="1개">&nbsp;&nbsp;1</option>
                                <option value="2개">&nbsp;&nbsp;2</option>
                                <option value="3개">&nbsp;&nbsp;3</option>
                                <option value="4개">&nbsp;&nbsp;4</option>
                                <option value="5개">&nbsp;&nbsp;5</option>
                            </select>
                        </div>
                        <br><br>

                        <div class="control has-icons-left has-icons-right">
                            <input class="input" type="text" placeholder="주소" id="check3" value="">
                            <span class="icon is-small is-left">
                                <i class="fas fa-home"></i>
                            </span>
                            <span class="icon is-small is-right">
                                <i class="fas fa-check"></i>
                            </span>
                        </div>
                        <br>

                        <div class="control has-icons-left has-icons-right">
                            <input class="input" type="number" placeholder="전화번호" maxlength="11" id="check4" value="">
                            <span class="icon is-small is-left">
                                <i class="fas fa-phone"></i>
                            </span>
                            <span class="icon is-small is-right">
                                <i class="fas fa-check"></i>
                            </span>
                        </div>
                        <br>

                    </div>
                </div>
                <button class="button is-info" onclick="check()">주문하기</button>
            </div>
            <div class="merong">
            <hr>
            <h1 class="title is-5 has-text-grey" style="padding-left: 20px;">주문 현황</h1>
            <table class="table is-hoverable" id="jumunja_info">
                <th>주문자명</th>
                <th>주문수량</th>
                <th>주소</th>
                <th>전화번호</hr>
            </table>
        </div>
        </div>
    </section>


</body>

</html>